<h1>DiscussionTopics</h1>

<%= render 'form' %>

<% if user_signed_in? && current_user.admin? %>
  <p><%= link_to 'Back', discussion_topics_path(forum_id: @topic.general_forum_topic.id) %> | 
  <%= link_to 'Delete', @topic, method: :delete, data: { confirm: 'Are you sure?' } %></p>
<% else %>
  <p><%= link_to 'Back', discussion_topics_path(forum_id: @topic.general_forum_topic.id) %></p>
<% end %>