<% if account_signed_in? && !current_account.user_id.nil? && current_account.user_id == @user.id %>
  <h1>Editing user</h1>

  <%= render 'form' %>

  <%= link_to 'Show', @user %>
<% else %>
  <h1>Woops!</h1>
  <p>You tried to edit someone else's profile. That's not cool.</p>
<% end %>

<%= link_to 'Back', users_path %>
