<strong>New Discussion Topic</strong>

<h1>General Forum Topics</h1>

<% @forum.each do |forum| %>
  <article class="forum">
    <h2><%= link_to forum.name, discussion_topics_path(forum_id: forum.id) %>(<%= forum.discussion_topics_count %>)</h2>
    <p><%= link_to 'Show', forum %><p>
  </article>
<% end %>

<h2><%= link_to "FAQ", faqs_url %></h2>

