<h2>Welcome!</h2>

<p>This an arcade website to simulate simple games that you can play with your friends.</p>
<p>At the moment, the only game avaliable is a rock paper scissors game.</p>

<p>This is just a filler text that will be later replace with actual information that will be useful for the person(s) using this website. Until then, please put up with this completely verbose and useless block of rambling text. I thank you for your understanding. Thank You. This is just a filler text that will be later replace with actual information that will be useful for the person(s) using this website. Until then, please put up with this completely verbose and useless block of rambling text. I thank you for your understanding. Thank You. This is just a filler text that will be later replace with actual information that will be useful for the person(s) using this website. Until then, please put up with this completely verbose and useless block of rambling text. I thank you for your understanding. Thank You.<p>
